<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Kasia</mat-card-title>
    <mat-card-subtitle>Author of this website</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://avatars0.githubusercontent.com/u/22297591?s=400&u=52323097ad24ab932bde090adae6bf901cee4146&v=4" alt="Photo of me">
  <mat-card-content>
    <p>
      A highly resourceful and competent front-end engineer with passion for good quality code and attention to detail. Willing to learn and discover new things which drives me to improve myself constantly. Ambitious, well-organised, always smiling
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a href="https://twitter.com/kzadurska" mat-button>Twitter</a>
    <a href="https://github.com/kzadurska" mat-button>Github</a>
    <a href="https://www.linkedin.com/in/kzadurska/" mat-button>Linkedin</a>
  </mat-card-actions>
</mat-card>
