.example-card {
    max-width: 600px;
    margin: 20px;
  }
.container {
  display: flex;
  justify-content: center;
  
}

.loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  margin: 0 auto;
}